html { font-size: 32px !important; }

.instruments {
  display: flex;
}

.instruments button {
  flex: 1;
}

#calibrate {
  //position: absolute;
  //bottom: 0;
  //width: 100%;
  //height: 100px;
}

.status {
	display: none;
}

.content {
	position: relative;
	background: #214C43;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.header {
	min-height: 40px;
	position: absolute;
	top: 0;
	padding-top: 20px;
}

.header .logo:after {
	content: "";
	display: block;
	width: 140px;
	height: 3px;
	border-radius: 100px;
	background: #3CCAB3;
	margin-top: 10px;
}

.header .logo img {
	width: 140px;
	height: auto;
	margin: auto;
}

.calibrate {
}

.play-background {
	width: 260px;
	height: 260px;
	border-radius: 300px;
	background: linear-gradient(45deg,#E29F38,#3CCAB3);
	padding: 10px;
	filter: blur(40px);
}

.play {
	outline: none;
	border: none;
	width: 240px;
	height: 240px;
	border-radius: 300px;
	background: linear-gradient(45deg,#214C43,#193A33);
}

.play:hover, .play:focus {
	background: linear-gradient(45deg,#193A33,#214C43);
	//background: pink;
}

.instrument-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 74px;
	display: flex;
	flex-flow: row;
	background: linear-gradient(#214C43, #193A33);
	padding: 10px 10px 0 10px;
	box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.20);
}

.instrument {
	//display: inline-block;
	flex: 1;
	outline: none;
	border: none;
	background: none;
	border-bottom: 3px solid transparent;
	padding: 6px;
}

.instrument:hover, .instrument:focus, instrument.active {
	border-bottom: 3px solid #E29F38;
}

.instrument img {
	width: 50px;
	height: auto;
	margin: 4px;
}